.home {
    text-align: center;
    color: rgb(87, 151, 211);
    font-family: sans-serif;
}

.nav {
    text-align: center;
    font-family: fantasy;
    /* animation: color-change 2s infinite; */
    
}
.route:hover{
    font-size: 105%;
    animation: 2ms;
}
.routeTwo:hover{
    font-size: 105%;
}
.routeThree:hover{
    font-size: 105%;
}
.ingredient:hover{
    font-size: 105%;
    color: rgb(87, 13, 83);
}
.instruction:hover{
    font-size: 105%;
    color: rgb(87, 13, 83);
}
.image:hover {
    /* transition: .5s ease; */
    transition: .5s ease-in-out;
    opacity: 0.3;
}
 
  @keyframes color-change {
    0% { color:rgb(76, 0, 255); }
    50% { color: rgb(96, 96, 248); }
    75% { color:rgb(76, 0, 255)}
    100% { color: rgb(64, 53, 128); }
    75% {color:rgb(96, 96, 248)}
    50% {color:rgb(96, 96, 248)}
  }
  .name {
      font-style: italic;
      color: rgb(5, 3, 5);

  }
  
  